@font-face {
  font-family: "Quicksand";
  src: url("../fonts/static/Quicksand-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/static/Quicksand-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/static/Quicksand-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/static/Quicksand-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/static/Quicksand-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
