.wrapper {
  position: relative;
  width: 50%;
  min-width: 320px;
  &__label {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__select {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    cursor: pointer;
    &__initialState {
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      text-transform: lowercase;
      color: #ffffff;
      @media (max-width: 380px) {
        font-size: 13px;
      }
    }
    &__icon {
      transition: 0.2s;
      &.open {
        transform: rotateX(180deg);
      }
    }
  }
  &__optionBox {
    overflow: hidden;
    max-height: 0;
    transition: 0.2s;
    border-radius: 8px;
    margin-top: 5px;
    position: absolute;
    z-index: 10;
    width: 100%;
    &.open {
      max-height: 250px;
    }
    .option {
      padding: 10px 20px;
      font-weight: 500;
      background-color: #fff;
      cursor: pointer;
      transition: 0.1s;
      @media (max-width: 380px) {
        font-size: 13px;
      }
      &:hover {
        background-color: #fff;
        opacity: 0.9;
      }
    }
  }
}
