.wrapper {
  .level {
    text-align: center;
    letter-spacing: 0.5rem;
    text-transform: lowercase;
    color: #4953be;
    font-weight: 500;
    font-size: 25px;
    line-height: 116.13%;
    margin: 15px 0 10px 0;
    @media (max-width: 500px) {
      font-size: 13px;
      line-height: 116.13%;
    }
  }
  width: 300px;

  @media (max-width: 500px) {
    width: 100%;
  }
  .indicatorBox {
    width: 100%;
    &__Figures {
      font-weight: 600;
      color: #4953be;
      font-size: 15px;
      span {
        color: #ff7878;
        font-size: 24px;
      }
    }
    &__line {
      background-color: #dbdeff;
      height: 3.3px;
      width: 100%;
      border-radius: 20px;
      span {
        height: 100%;
        background: linear-gradient(180deg, #ff7878 0%, #ff7878 100%);
        display: block;
        border-radius: 20px;
        transition: 0.5s;
      }
    }
  }
}
