@import "./assets/fonts/_fonts";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  font-family: "Quicksand";
  overflow: hidden;
}
.container {
  max-width: 620px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  z-index: 5;
  
}
.requiredField{
  color: #FFFFFF!important;
  font-size: 15px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #969CDC;
  border-radius: 10px;
}
