@import '../../../../assets/styles/_animation.scss';
.wrapper {
  margin: 50px 0;
  min-height: 100px;
  animation: fade 0.3s ease-in ;
  p {
    color: #4953be;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
  }
  @media (max-width: 500px) {
  min-height: 150px;
    p{
      text-align: start;
    }
  }
}
